name: Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v5
    permissions:
      contents: write
    with:
      release_files: rules_uv-*.tar.gz
      prerelease: false
